
.navbar {
    display: block;
    position: absolute;
    width: 100%;
    animation: navbar_transition 2s ease-in-out;
    z-index: 3;
    font-size: 20px;
    font-weight:normal;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 10%;
    margin-bottom: 10%;    
}



a:hover{
    color: #f2994a;
}




.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
}
.navbar-nav > .nav-item {
    padding: 0 30px !important;
    transition-timing-function: ease-in;
    transition: 0.2s;
    
}
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    background-color: black;
    
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: black;
    border: 1px solid black;
    border-radius: .25rem;
}

img{

    display: flex;
    padding-left: 5%;
    }





    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
      }
      
      input[type=submit] {
         float: right;
        background-color:#f2994a;
        color:black;
        font-weight: bold;
        padding: 12px 40px;
        border: none;
        border-radius: 4px;
    
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color: #ffab61;
      }
      
      .container {
          display:block;
          padding-left: 20%;
         border-radius: 5px;
         width: 1000px;
         padding-bottom: 8%;
      
        
      } 
      h2{
          font-size: 24px;
          font-weight: normal;
          
      } 

      a{

        text-decoration: none;
        color: black;
        font-size: 24px;

      }

      /*footer*/
.email {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5%;
    padding-left:15% ;

    
}
.phone{
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5%;
    padding-left: 15%;
}
.linkedin{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5%;
    padding-left: 15%;

}
.icon1, .icon2, .icon3{
    padding: 6%;
}

hr{
   
    display: block;
    margin-right:20% ;
    margin-left: 28%;
   
    height: 2px;
    
    color:#f2994a; background-color:#f2994a ;border:none;

  
  }
  .copyright p{
    font-size: 18px;
    text-align: center;
    color: whitesmoke;
    margin-top: 10%;
    padding: 1%;
    
    
}
  

  @media only screen and (max-width: 600px) {
    .logo{
      display: none;
    }

    .container{
        flex-direction: column;
        width: 80%;
        padding-top: 20%;
        padding-bottom: 20%;
          
    }

     h2{
         font-size: 18px;
         
         

    }

    a{
        font-size: 18px;
        padding: 5%;


    }
    input[type=submit]{
        padding: 10px 36px;
    
    }

    .icon1, .icon2, .icon3{
        width: 30px;
        height: 30px;
        margin: 3%
    }
    hr{
        margin-left:35%;
        margin-right: 20%;
        height: 1px;

    }
    
  }





    
    
