#herogrid{

   height: 100%;

    display:grid;
    grid-template-columns:25% 75%;
    min-height: 800px;
    background-color: whitesmoke;

   
   
    
}
#slideleft{
     background-color: black;
     height: 85%;

   

}

#slideright{
    background-color:whitesmoke;
   
    
   

}


.navbar a {
    float: right;

    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding-right: 5%;
    padding-top: 5%;
    text-decoration: none;
    
  
}

h1{
   
    padding-left: 5%;
    padding-top: 15%;
    padding-right: 15%;
    text-align: justify;
    font-weight: normal;
    line-height: 1.6;

    



}
img{
    padding-top:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:10% ;
}
.coloryallow{
    color:#F2994a ;
}

    
nav{
    display: grid;
    padding-bottom: 3%;
    background-color: whitesmoke;
    
    
}

@media only screen and (max-width: 700){
  
  .navbar a{

    display: none;}
  }